@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  height: 100vh;
  width: 100vh;
}

.circleContent, .information-content-part .input-content .palette .content-color, .information-content-part .input-content .palette, .input-content-part .box .input-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.glass {
  border-top: solid #fff 1px;
  border-right: solid #fff 1px;
  background: transparent !important;
  box-shadow: inset 10px -10px 10px 0px rgba(255, 255, 255, 0.7490196078), inset -5px 5px 10px 0px rgba(121, 121, 121, 0.5019607843), 10px -10px 10px 5px #f1f1f1, -10px 10px 20px 0px rgba(121, 121, 121, 0.5019607843);
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

a:link,
a:visited {
  text-decoration: none;
}

body {
  background: #f1f1f1;
  overflow-x: hidden;
}

.input-content-part {
  background: #f1f1f1;
  height: 100vh;
  width: 100vw;
}
.input-content-part .input-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: height ease 1s;
}
.input-content-part .lines {
  height: 35%;
  width: 30%;
  overflow: hidden;
  transition: height ease 1s;
}
.input-content-part .lines img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.input-content-part .lines .image-dell {
  background: #f1f1f1;
  position: relative;
  height: 100%;
  bottom: 0;
  transition: bottom ease 1s;
}
.input-content-part .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.input-content-part .box h1 {
  font-family: "jura";
  color: #797979;
  font-size: 4em;
  text-shadow: -3px 3px 0.05em rgba(121, 121, 121, 0.2823529412);
}
.input-content-part .box .input-box {
  width: 100vw;
  height: 110px;
}

.information-content-part {
  height: 0vh;
  width: 0vw;
  background: #797979;
  box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  transition: width ease 1s;
}
.information-content-part .input-content {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}
.information-content-part .input-content .palette {
  flex-direction: column;
  gap: 40px;
}
.information-content-part .input-content .palette h2 {
  color: white;
  font-family: "inter";
  font-size: 2em;
}
.information-content-part .input-content .palette .content-color {
  gap: 50px;
}

input[type=file] {
  display: none;
}

.custom-input, .glass {
  cursor: pointer;
  height: 70px;
  width: 55vw;
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  z-index: 100;
}
.custom-input img, .glass img {
  height: 75%;
  margin-left: 30px;
  opacity: 0.5;
  filter: blur(0.8px);
}
.custom-input p, .glass p {
  color: #797979;
  opacity: 0.75;
  font-size: 1.3em;
  filter: blur(0.8px);
}

.glass {
  position: relative;
  margin-top: -80px;
}

.circleContent {
  flex-direction: column;
  gap: 20px;
}
.circleContent .colorText {
  font-family: "inter";
}

.circleColor {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 5px #fff;
  background-color: #E9CA6D;
  box-shadow: inset -5px 5px 10px 0 rgba(0, 0, 0, 0.2), -5px 5px 10px 0 rgba(0, 0, 0, 0.5019607843);
}

/*# sourceMappingURL=index.css.map */
