.input-content-part {
    background: $background;
    height: 100vh;
    width: 100vw;
    

    .input-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: height ease 1s;
    }

    .lines {
        height: 35%;
        width: 30%;
        overflow: hidden;

        transition: height ease 1s;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .image-dell {
            background: $background;
            position: relative;
            height: 100%;
            bottom: 0;

            transition: bottom ease 1s;
        }
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h1 {
            font-family: 'jura';
            color: $lines;
            font-size: 4em;
        }

        .input-box {
            width: 100vw;
            height: 110px;
            @extend %central;
        }
    }
}

.information-content-part{
    height: 0vh;
    width: 0vw;
    background: $lines;
    box-shadow: inset 0px 10px 10px 0px #00000033;

    transition: width ease 1s;

    .input-content {
        height: 100%;
        width: 100%;
        background-color: pink;
    }
}