.input-content-part {
    background: $background;
    height: 100vh;
    width: 100vw;

    .input-content {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: height ease 1s;
        gap: 30px;
    }

    .lines {
        height: 35%;
        width: 30%;
        overflow: hidden;

        transition: height ease 1s;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .image-dell {
            background: $background;
            position: relative;
            height: 100%;
            bottom: 0;

            transition: bottom ease 1s;
        }
    }

    .box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h1 {
            font-family: 'jura';
            color: $lines;
            font-size: 4em;
            text-shadow: -3px 3px 0.05em #79797948
        }

        .input-box {
            width: 100vw;
            height: 110px;
            @extend %central;
        }
    }
}

.information-content-part {
    height: 0vh;
    width: 0vw;
    background: $fundo;
    box-shadow: inset 0px 10px 10px 0px #00000033;
    overflow: hidden;

    transition: width ease 1s;

    .input-content {
        height: 100%;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;

        animation: aparece linear 7s;

        .palette {
            @extend %central;
            flex-direction: column;
            gap: 40px;

            h2 {
                color: #f1f1f1;
                font-family: 'inter';
                font-size: 2em;
            }

            .content-color {
                @extend %central;
                gap: 50px;
            }
        }

        .content-infos {
            margin-top: 80px;
            display: flex;
            justify-content: space-between;

            .especifc-colors {
                @extend %central;
                flex-direction: column;
                align-items: start;
                gap: 30px;
                width: min-content;
                border-left: solid 3px $lines;
                margin-left: 80px;

                .box-especif {
                    @extend %central;

                    .circleContent {
                        position: relative;
                        bottom: 20px;
                        margin-right: 10px;
                    }

                    .line {
                        height: 3px;
                        width: 55px;
                        background: $lines;
                    }

                    .desc {
                        white-space: nowrap;
                        color: $background;
                        font-family: 'inter';
                        font-size: 1.5em;
                    }
                }
            }



            .image {
                margin-right: 30px;

                img {
                    display: block;
                    object-fit: cover;
                    height: 250px;
                    border: solid 6px #fff;
                    box-shadow: -15px 15px 20px 0 #00000033;
                }

                .shadow {
                    height: 250px;
                    width: calc(100% - 12px);
                    position: relative;
                    bottom: 256px;
                    margin-bottom: -256px;
                    left: 6px;
                    box-shadow: inset -10px 10px 20px 0 #000000b7,
                        inset 5px -5px 20px #ffffff80;
                }

                .suport {
                    height: 250px;
                    position: relative;
                    border: solid 6px #fff;
                    border-top: transparent;
                    border-right: transparent;
                    background: transparent;
                    left: 50%;
                    box-shadow: -15px 15px 20px 0 #00000033;
                }

            }
        }


    }
}


@keyframes aparece {

    0%,
    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}