@import './app.scss';
@import './placeholders.scss';
@import './_breakpoints.sass';
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    outline: 0;
}


::-webkit-scrollbar {
    width: 3px;
}


::-webkit-scrollbar-thumb {
    background-color: black;
}


a:link,
a:visited {
    text-decoration: none;
}

body {
    @extend %fullScreen;
    background: $background;
    overflow-x: hidden;
    height: 100vh;
    width: 100vw;
}


@import './home.scss';
@import './input_custom.scss';
@import './circleColor.scss';