@import './app.scss';

* {
    padding: 0;
    margin: 0;
    outline: 0;
}


::-webkit-scrollbar {
    background-color: $black;
    width: 3px;
}


::-webkit-scrollbar-thumb {
    background-color: black;
}


a:link,
a:visited {
    text-decoration: none;
}