input[type='file'] {
    display: none;
}

.custom-input {
    cursor: pointer;
    height: 70px;
    width: 40vw;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px 0px 5px 0px;
    border-radius: 8px;
    z-index: 100;
    margin-top: 80px;

    img {
        height: 75%;
        margin-left: 30px;
        opacity: 0.5;
        filter: blur(.8px);
    }

    p {
        color: $lines;
        opacity: 0.75;
        font-size: 1.3em;
        filter: blur(.8px);
    }

}

.glass {
    @extend .custom-input;
    position: relative;
    margin-top: -80px;
    @extend %glass;

}